body{
    background-color: rgb(27, 3, 47);
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    display:flex;
    flex-direction: column;
    margin :0 5px 0 2px;

}
header{
    position: sticky;
    top:0%;
    left:0%;
    background-color: rgb(27, 3, 47);
}

main{
    display: flex;
    width: 100%;
}

footer{
    width:100%;
    position: sticky;
    height: 50px;
    bottom:0%;
    left:0%;
    z-index:2000;
    background-color: rgb(27, 3, 47);
    display:flex;
    align-content:center;
    justify-content:center;
}

#guess_form {
    margin: 10px 0;
}

#navbar {
    display:flex;
    font-size: larger;
}

#navbar ul {
    display: flex;
}
#navbar li {
    color: rgb(132, 137, 141);
    list-style-type: none;
    align-self: center;
    margin: 0 15px;
}

#navbar .title_header {
    font-weight: 1000; 
    margin-right: 50px; 
    margin-left: 0;
    color: aliceblue;
}
#navbar li:hover {color: aliceblue;}


#article_section {
    width : 65%;
    background-color: rgb(8, 1, 14);
    padding : 10px;
    flex-direction: column;
    line-height:1.5;
    
}

#guess_section {
    width:32%;
    top : 60px;
    right: 0px;
    margin-right:15px;
}

table{
    text-align: center;
    width:100%;
}

/* table a {
    cursor: default;
    pointer-events: none;        
    text-decoration: none;
    color: aliceblue;
} */

mark{
    color: aliceblue;
    background-color: aliceblue;
    user-select: none;
}

mark::selection{
    background: rgb(81, 81, 202);
    color: rgb(81, 81, 202);
}

.article_title2{
    font-size:24px;
    font-weight:bold;
}

.article_title3{
    font-size:19px;
    font-weight:bold;
}

.highWord {
    color: aliceblue;
    background-color: aliceblue;
    user-select: none;
}

.highWord::selection{
    background: rgb(81, 81, 202);
    color: rgb(81, 81, 202);
}

.noHighWord {
    font-weight: bold;
}

.clicked {
    color: black;
    background-color: rgb(24, 136, 52);
}

.redclicked {
    color: aliceblue;
    background-color: rgb(133, 36, 41);
}

